
h1 {
  color: red;
}

form {
  border: 3px solid red;
  padding: 40px;
}

.background {
  background: url(/src/app/images/studying.jpg) no-repeat center center fixed; 
  height:100vh;
  opacity: .3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
 