.table {
  border: 4px;
  width: 80%;
  border-style: solid;
  border-color: lightgray;
  border-bottom-color: lightgrey; 
}

.table:hover {
  border-bottom-color: yellow;
}

.row-1 {
  padding: 10px;
}