
<div class="jumbotron">
  <h1>Quizlet RipOff</h1>
  <p>...</p>
  <h2><strong>Web Application Using Mean Stack Architecture</strong></h2>
  <!-- <p class="btn btn-lg"><a [routerLink]="['/login']">Login</a></p>
  <p class="btn btn-lg"><a [routerLink]="['/signup']">Sign-up</a></p>-->
</div>
<!-- end of jumbotron container -->

<div class="page-header">
  <div class="row">
   <div class=" well well-lg col-sm-6 box-sizing: border-box pull-left" id="statment">
  <h2>Simple tools for learning anything</h2>
  <p>Search millions of study sets or create your own.  Improve your grades by studying with flashcards, games and more</p>
  <ul>
    <li>Create Study Sets</li>
    <li>View Study Sets</li>
    <li>Edit Study Sets</li>
  </ul>
  </div>
 
<div class="col-sm-6 border-box: border-box pull-right">
  <img src="./src/app/images/studying.jpg" alt="Studing" height="300" width="400" />
</div>
  </div>
</div>

