<!-- start of jumbotron container -->
<div class="container">
  <div class="jumbotron" style="background-image:url('./src/app/images/potts-ggc.png'); opacity: .5">
    <h1 style=" color: white ">Welcome to Quizlet RipOff <small style="color:darkblue"><strong>Demo of MEAN Stack</strong></small></h1>
    <p style="color: white ">This app is to show how essential a full-stack developer can be</p>
  </div>
</div>
<!-- end of jumbotron container -->

<div class="btn-group-lg" style="text-align: center">
  <button type="button" class="btn btn-lg btn-success"><a [routerLink]="['/login']">Login</a></button>
  <button type="button" class="btn btn-lg btn-inf0"><a [routerLink]="['/signup']">Sign-UP</a></button>
</div>
